<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="index-page sidebar-collapse">

{% include 'header.html' %}

{% block content %}
{% endblock content %}

{% include 'footer.html' %}

{% include 'scripts.html' %}

</body>

</html>