<!--   Core JS Files   -->
{% load static %}

<script src="{% static '/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/assets/vendor/popper.js/umd/popper.min.js' %}"></script>
<script src="{% static '/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
<script src="{% static '/assets/vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static '/assets/js/front.js' %}"></script>